@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

@media (min-width: 600px) {
    .about-us {
        background-color: #fff;
    }

    .about-us-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-us-title {
        color: #2A4671;
        font-family: 'Galada', cursive;
        font-size: 4em;
        text-align: center;
    }

    .about-us-p {
        font-family: 'Encode Sans Condensed', sans-serif;
        text-align: justify;
        font-size: 1.3em;
        padding: 0 20px 20px 20px;
        width: 70%;
    }
}

@media (max-width: 600px) {
    .about-us {
        padding: 20px 0 20px 0;
        background-color: #fff;
    }

    .about-us-title {
        color: #2A4671;
        font-family: 'Galada', cursive;
        font-size: 2em;
        text-align: center;
    }

    .about-us-p {
        font-family: 'Encode Sans Condensed', sans-serif;
        text-align: justify;
        padding: 0 20px 0px 20px;
    }
}