@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

@media (min-width: 600px) {}

@media (max-width: 600px) {
    .about-us {
        padding: 20px 0 20px 0;
        background-color: #fff;
    }

    .about-us-title {
        color: #2A4671;
        font-family: 'Galada', cursive;
        font-size: 2em;
        text-align: center;
    }

    .about-us-p {
        font-family: 'Encode Sans Condensed', sans-serif;
        text-align: center;
        padding: 0 20px 0 20px;
    }

    .about-us-images-container {
        display: flex;
        flex-direction: column;
    }

    .about-us-images-row-a {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        order: 1;
    }

    .about-us-images-row-b {
        display: flex;
        flex-direction: row;
        order: 1;
        justify-content: space-evenly;
    }

    .about-us-image {
        height: auto;
        max-width: 45vw;
        padding: 8px;
    }
}