@media (min-width: 600px) {

    .greetings {
        min-height: 60vh;
    }

    .greetings-phrase {
        padding-top: 150px;
        font-family: 'Galada', cursive;
        font-size: 2.8em;
    }

}

@media (max-width: 600px) {

    .greetings {
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .greetings-phrase {
        color: #2C4366;
        font-family: 'Galada', cursive;
        font-size: 2.8em;
    }

}