@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Encode+Sans+Condensed:wght@200;300;400;700&family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');

@media (min-width: 600px) {

    .instagram-section-phrase>p {
        font-family: 'Galada', cursive;
        font-weight: bold;
        font-size: 3em;
        color: #2A4671;
    }

    .instagram-section-hashtag {
        font-family: 'Denk One', sans-serif;
        font-size: 3em;
    }

    .instagram-section-image>img {
        height: auto;
        max-width: 15vw;
    }

    .instagram-section-hashtag>p {
        margin-top: 0;
    }

    .instagram-section-button {
        background-color: #f6ce97;
        border-radius: 50px;
        color: black;
        padding: 0.2em 0em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 3em;
        min-width: 50vw;
        font-family: 'Encode Sans Condensed', sans-serif;
        font-weight: bold;
        border-style: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .instagram-section-button>a>p {
        margin: 0;
    }

    .instagram-link:link,
    .instagram-link:visited {
        color: #000;
        text-decoration: none;
    }

}

@media (max-width: 600px) {

    .instagram-section {
        background-image: url("https://drive.google.com/uc?export=view&id=1t19c7QZw-wX7Yzh8BTBO1lX0fAbykSd8");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 32px 0px;
    }

    .instagram-section-phrase>p {
        font-family: 'Galada', cursive;
        font-size: 1.1em;
        margin: 0px;
        padding-bottom: 30px;
        color: #000;
    }

    .instagram-section-image>img {
        height: auto;
        max-width: 20vw;
    }

    .instagram-section-hashtag {
        font-family: 'Dela Gothic One', cursive;
        font-size: 1.5em;
        padding-top: 16px;
    }

    .instagram-section-hashtag>p {
        margin-top: 0;
        color: #000;
    }

    .instagram-section-button {
        background-color: #EDC48C;
        border-radius: 50px;
        color: black;
        padding: 0.5em 0.4em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        min-width: 60vw;
        font-family: 'Encode Sans Condensed', sans-serif;
        font-weight: bold;
        border-style: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .instagram-section-button>a>p {
        margin: 0;
    }

    .instagram-link:link,
    .instagram-link:visited {
        color: #000;
        text-decoration: none;
    }


}