@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200;300;400;700&family=Galada&display=swap');

@media (min-width: 600px) {
    .venue-info {
        background-color: #FFF;
        font-family: 'Encode Sans Condensed', sans-serif;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px 0 80px 0;
    }

    .venue-info-row-a {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0px 200px;
    }

    .ceremony {
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
    }

    .party {
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
    }

    .venue-info-content {
        line-height: 1.5em;
        font-size: 1em;
    }

    .venue-info-event>h2 {
        font-family: 'Galada', cursive;
        font-size: 2em;
        color: #C78E4C;
        padding-top: 16px;
    }

    .venue-info-button {
        max-width: 100vw;
        border-radius: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .venue-info-button>button {
        background-color: #F5D3A0;
        border-radius: 50px;
        padding: 0.5em 0.5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.3em;
        font-family: 'Encode Sans Condensed', sans-serif;
        width: 20vw;
        font-weight: bold;
        border-style: none;
        cursor: pointer;
    }

    .venue-info-list-title {
        font-weight: bold;
        padding: 8px 0 0 0;
    }

    .venue-info-image>img {
        height: auto;
        max-width: 13vw !important;
    }

    .venue-info-button>button>a:link,
    a:visited {
        color: #000;
        text-decoration: none;
    }

}




@media (max-width: 600px) {
    .venue-info {
        background-color: #FFF;
        font-family: 'Encode Sans Condensed', sans-serif;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 32px;
    }

    .venue-info-row-a {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
    }

    .ceremony {
        padding: 30px 0;
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
    }

    .party {
        padding-top: 30px;
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
    }

    .venue-info-content {
        line-height: 0.2em;
    }

    .venue-info-content>p {
        margin: 0;
    }

    .venue-info-event {
        font-size: 1.5em;
        font-family: 'Galada', cursive;
    }

    .venue-info-event>h2 {
        font-family: 'Galada', cursive;
        color: #C78E4C;
    }

    .venue-info-list-title {
        font-weight: bold;
        padding: 4px;
    }


    .venue-info-address>p {
        line-height: 1.3em;
    }

    .venue-info-button {
        min-width: 50vw;
        border-radius: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .venue-info-button>button {
        background-color: #EDC48C;
        border-radius: 50px;
        color: black;
        padding: 0.5em 0.4em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        min-width: 60vw;
        font-family: 'Encode Sans Condensed', sans-serif;
        font-weight: bold;
        border-style: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .venue-info-button>button>a:link,
    a:visited {
        color: #000;
        text-decoration: none;
    }

    .venue-info-image>img {
        height: auto;
        max-width: 25vw;
        padding-bottom: 30px;
    }
}